@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@1,400;1,700&display=swap");

:root {
  --primary: "STIX Two Text", serif;
}

body {
  margin: 0rem;
  background-image: url("bg1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: fixed;
  background-size: 100% 100%;
  font-family: var(--primary);
}

section {
  background-color: rgba(228, 230, 241, 0.65);
  border-radius: 20px;
  text-align: center;
  width: 100%;
  margin: auto;
  max-width: max-content;
  color: black;
  padding: 2rem;
  padding-bottom: 2.5rem;
}

h1 {
  font-size: 2.4em;
  font-weight: bolder;
}

p {
  font-family: var(--primary);
  font-size: 1.4em;
}

input {
  margin: auto;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  font-family: var(--primary);
  font-size: 1em;
  width: 10rem;
}

button {
  margin: auto;
  display: block;
  border: 1px solid black;
  color: black;
  background-color: rgba(228, 230, 241, 0.65);
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  font-family: var(--primary);
  font-size: 1em;
}

.footer {
  align-content: center;
  padding: 1rem;
  bottom: 0%;
  position: fixed;
  width: 100%;
  margin: auto;
}

.social-container {
  margin-top: 0rem;
  flex-direction: column;
  align-content: center;
}

.social-icons {
  padding: 0rem 1rem;
  margin: auto;
  margin-bottom: 1rem;
}

#output {
  font-size: 1.5rem;
}
