@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@1,400;1,700&display=swap");

:root {
  --primary: "STIX Two Text", serif;
}

body {
  margin: 0rem;
  background-color: #e6e8f1;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: fixed;
  background-size: 100% 100%;
  font-family: var(--primary);
}

section {
  text-align: center;
  width: 100%;
  margin-left: 2rem;
  margin: auto;
  max-width: max-content;
  color: #0b0c10;
  background-color: #808bba;
  padding: 2rem;
  padding-bottom: 2.5rem;
}

h1 {
  font-size: 2.4em;
  font-weight: bolder;
}

p {
  font-family: var(--primary);
  font-size: 1.4em;
}

input {
  margin: auto;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  font-family: var(--primary);
  font-size: 1em;
  width: 10rem;
}

button {
  margin: auto;
  display: block;
  border: 1px solid #0b0c10;
  color: #0b0c10;
  background-color: #808bba;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  font-family: var(--primary);
  font-size: 1em;
}

.footer {
  align-content: center;
  padding: 1rem;
  bottom: 0%;
  position: scroll;
  width: 100%;
}

.social-container {
  margin-top: 0rem;
  flex-direction: column;
  align-content: center;
}

.social-icons {
  padding: 0rem 1rem;
  margin: auto;
  margin-bottom: 1rem;
}
